/*
 * Размер шрифта для всех устройств
 */

@media screen and (min-width: 769px){

    html{
        font-size: 62.5%;
    }
}

@media screen and (min-width: 641px) and (max-width: 768px){

    html{
        font-size: 56%;
    }
}

@media screen and (max-width: 640px){

    html{
        font-size: 50%;
    }
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Open Sans", "Helvetica Neue", "Segoe UI", "Arial", sans-serif;
    font-size: 1.6rem;
    color: #222;

    -webkit-font-smoothing: antialiased; /*для сглаживания шрифтов на мобилках*/
    -moz-osx-font-smoothing: grayscale; /*для сглаживания шрифтов на мобилках*/
    -webkit-overflow-scrolling: touch; /*для инерционного скролла (не останавливается, а плавно)*/

    margin: 0;
    background-color: #f0f0f0;
}

a {
    color: #4557bb;
    text-decoration: none;
}

a:hover, a:focus {
    color: #7c249e;
}

a:focus {
    outline-color: #7c249e;
}

p {
    margin-top: 0;
    margin-bottom: 1.5rem;
    line-height: 1.5;
}

p:last-child {
    margin-bottom: 0;
}

.title {
    margin-top: 0;
    margin-bottom: 0;
}

.responsive-img {
    max-width: 100%;
    height: auto;
    display: block; /*без дисплей блока образуется снизу фотки отступ,т.к. картинка строчный элемент, после него пробел образуется*/
}

.main-container {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    align-items: flex-start;
}

.profile {
    background-color: #fff;
    box-shadow: 0 0 2rem .2rem rgba(34, 34, 34, .2);
}

.profile__body {
    padding: 1.5rem;
}

.profile__title {
    font-size: 3.2rem;
    line-height: 1.3;
}

.profile__post {
    font-size: 1.6rem;
    display: block;
    font-weight: 400;
    margin-top: 1rem;
}

.profile__group {
    border-top: 2px solid #4557bb;
    padding-top: 2rem;
    margin-top: 2rem;
}

.profile__group:first-child {
    border: none;
    padding-top: 0;
    margin-top: 0;
}

.profile__row {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.profile__row:first-child {
    margin-top: 0;
}

.profile__param {
    width: 34%;
    margin-right: 5%;
    font-weight: 700;
}

.profile__value {
    width: 61%;
    text-align: right;
    white-space: nowrap; /*почитать про свойство*/
    text-overflow: ellipsis; /*при переполнении и оверфлоу, буквы обрезаются, а с свойством ставится многоточие*/
    overflow: hidden; /*текст при переполнении чтоб не выходил за пределы родителей, а обрезался*/
}

.content {
    box-shadow: 0 0 2rem .2rem rgba(34, 34, 34, .2);
    background-color: #fff;
}

.section {
    padding: 5rem 3rem;
}

.section:nth-child(even) {
    background-color: #f0f0f0;
}

.section__title {
    font-size: 3rem;
    position: relative;
    padding-bottom: .5rem;
}

.section__title:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 5rem;
    height: 3px;
    background-color: #455776;
}

.section__content {
    margin-top: 3rem;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
}

.post {
    box-sizing: border-box;
    background-color: #fff;
}

.post:first-child {
    margin-top: 0;
}

.post__body {
    padding: 1.5rem;
}

.post__content {
    margin-top: 1rem;
}

.work {
    display: block;
    position: relative;
}

.work:before, .work__name {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .3s ease-out;
}

.work:before {
    content: '';
    background-color: #7c249e;
}

.work__name {
    z-index: 3;
    font-size: 2rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: .5rem;
    text-align: center;
}

.work:hover:before, .work:focus:before {
    opacity: .8;
}

.work:hover .work__name, .work:focus .work__name {
    opacity: 1;
}

@media screen and (min-width: 1025px){

    .profile {
        width: 25%;
    }

    .content {
        width: 72%;
        margin-left: 3%;
    }

    .post{
        width: 32%;
    }

    .post:nth-child(3n+2){
        margin-left: 2%;
        margin-right: 2%;
    }

    .post:nth-child(2), .post:nth-child(3){
        margin-top: 0;
    }
}

@media screen and (max-width: 1024px){

    .main-container {
        flex-wrap: wrap;
    }

    .profile, .content {
        width: 100%;
        margin-top: 3rem;
    }
}

@media screen and (min-width: 481px) and (max-width: 1024px){

    .post{
        width: 49%;
    }

    .post:nth-child(2n+1){
        margin-right: 1%;
    }

    .post:nth-child(2n+2){
        margin-left: 1%;
    }
}

@media screen and (min-width: 481px){

    .post{
        margin-top: 2%;
    }

    .post:nth-child(2){
        margin-top: 0;
    }
}

@media screen and (max-width: 480px){

    .post{
        width: 100%;
        margin-top: 3rem;
    }
}